{% extends "TGApp/base.html" %}

{% block titulo %} Conceder acceso {% endblock %}

{% block contenido %}

<FORm method="post">
    {% csrf_token %}
SELECCIONE USUARIO
<BR></BR>

    {% for usuario_acceso in usuarios_acceso %}
    {% if usuario_acceso.usuario != request.user %}
    <label for="{{ usuario_acceso.usuario.username }}">
        <input type="radio" name="usuario" id="{{ usuario_acceso.usuario.username }}" value="{{ usuario_acceso.usuario.id }}"> {{ usuario_acceso.usuario.username }} 
    </label>

    {% endif %}
    {% endfor %}

    {% for Trivia in trivias %}  

  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="{{ Trivia.Tipo }}" name="{{ Trivia.pk }}" value="{{ Trivia.pk }}">
    <label for="{{ Trivia.Tipo }}" class="form-check-label"> 
     {{ Trivia.Tipo }}
    </label>
</div>

{% endfor %}

    <button type="submit" class="btn btn-success btn-block mt-2">Compartir</button>



</FORm>

{% endblock %}

