{% extends "TGApp/base.html" %}

{% block titulo %} Mis preguntas {% endblock %}

{% block contenido %}

<form method="POST">
    {% csrf_token %}
  {% for Trivia in trivias %}  

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="{{ Trivia.Tipo }}" name="trivia_seleccionada" value="{{ Trivia.id }}">
      <label for="{{ Trivia.Tipo }}" class="form-check-label"> 
        {{ Trivia.Tipo }}
      </label>
    </div>


  {% endfor %}

<button type="submit" class="btn btn-success btn-block">Enviar</button>

</form>

{% endblock %}



