{% extends "TGApp/base.html" %}

{% block titulo %} Crear {% endblock %}


{% block contenido %}                 




    <div class="container">
        <div class="mt-4 p-3 bg-background text-body rounded">
            <h2>Seleccione una trivia para empezar a jugar</h2>
            
            {% for Trivia in trivias %}  
            
            {% for valor in valores %}
                
                    {% if  Trivia.id == valor %}
                    {{Trivia.id}}
                    <div class="container">
                        <a name="" id="" class="btn btn-outline-warning" href="{% url 'crearPregunta' Trivia.id %}" role="button">Jugar {{Trivia.nombre}}</a>
                    </div>

                    {% endif %}
          
                    {% endfor %} 
            {% endfor %}     
    
        </div>
    
    </div>

    
{% endblock %}
