{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block titulo %} Agregar nueva pregunta {% endblock %}

{% block contenido %}




<br>
  
<!-- <h1> Tipo de Trivia: "{{ Pregunta.auto }}" </h1> -->
  
    <div class="container">
        <form method="POST">
          <fieldset>

            {% csrf_token %}
            <!-- {{ form.as_p }} -->

            <!-- {{ formulario.autor.as_hidden }} -->
            {{ formulario.as_p }}


            <button type="submit" class="btn btn-primary">Crear</button>
          </fieldset>
        </form>
    </div>

{% endblock %}


