{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block titulo %} Editar pregunta {% endblock %}

{% block contenido %}


<h1> Edita tu pregunta </h1>
    
    <div class="container">
        <form method="POST">
          <fieldset>
            <!-- <legend>Form</legend> -->
                {% csrf_token %}
                    {{ form|crispy }}
                    
                        <button type="submit" class="btn btn-primary">Actualizar</button>
          </fieldset>
        </form>
    </div>

{% endblock %}