{% extends "TGApp/base.html" %}

{% load crispy_forms_tags %}

{% block titulo %} Editar pregunta {% endblock %}

{% block contenido %}


<h1> Edita tu pregunta </h1>
    
    <div class="container">
        <form method="POST">
          <fieldset>
                {% csrf_token %}
                    {{ form|crispy }}
                        
                        <button type="submit" class="mb-3 btn btn-success">Actualizar</button>
                        <a name="" id="" class="mb-3 btn btn-primary" href="{% url 'preguntas' %}" role="button">Cancelar</a>
          </fieldset>
          
        </form>
    </div>

{% endblock %}