{% extends "TGApp/base.html" %}

{% block titulo %} Eliminar pregunta {% endblock %}

{% block contenido %}

{% if user.is_staff %}
    <div class="mt-3 container">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
        
            <h2>¿Seguro que quieres borrar de forma permanente la pregunta: "{{ object.pregunta }}"?</h2>
            
            <input class="mt-3 mr-2 btn btn-danger" type="submit" value="Si, Borrar">
            <a name="" id="" class="mt-3 btn btn-primary" href="{% url 'preguntas' %}" role="button">Cancelar</a>
        
        </form>
    </div>

{% else %}
    <h1>No tienes permiso para acceder </h1>
{% endif %}


{% endblock %}

