<!-- <form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  {% for campo in formulario %}

    <div class="mb-3">
      <label for="" class="form-label">{{ campo.label }}</label>
      <input 
        type="{{ campo.field.widget.input_type }}"
        class="form-control" 
        name="{{ campo.name }}" 
        id="" 
        aria-describedby="helpId" 
        placeholder="{{ campo.label }}">
      
    </div>
    <div class="col-12 help-text"> {{ campo.errors }} </div>

  {% endfor %}

  <input name="" id="" class="btn btn-success" type="submit" value="Enviar información">

</form> -->

 

<h1>aaaaaaa</h1>

<div class="container">
  <form method="POST">
    <fieldset>
      <legend>Form</legend>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>


