{% extends "TGApp/base.html" %}

{% load crispy_forms_tags %}

{% block titulo %} Agregar nueva trivia {% endblock %}

{% block contenido %}


{% if user.is_staff %}

  <div class="container">
    <form method="POST">
      <fieldset>
        <h1 class="mt-2"> Crear nueva trivia </h1>
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success">Crear</button>
      </fieldset>
    </form>
  </div>

{% else %}
  <h1>No tienes permiso para acceder </h1>
{% endif %}

{% endblock %}