{% extends "base.html" %}

{% block titulo %} Crear {% endblock %}

{% block contenido %}


<h1> Hola: {{ user.username }}</h1>


</div>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crearPregunta' %}" role="button">Agregar nueva pregunta</a>
        <!-- DROPDOWN BUTTON -->
        
        <BR></BR>
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Seleccionar trivia
                    </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
                {% for Trivia in trivias %}
                <button class="dropdown-item" href="#">{{ Trivia.nombre }}</button>
                <!-- <button class="dropdown-item disabled" href="#">Disabled action</button> -->
                {% endfor %}
            </div>
        </div>

              <!-- DROPDOWN BUTTON -->
    </div>
    <div class="card-body">
        <h4 class="card-title">Preguntas</h4>

        
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">tipo trivia</th>
                        <th scope="col">ID</th>
                        <th scope="col">PREGUNTA</th>
                        <th scope="col" style="text-align: center";>OPCION CORRECTA</th>
                        <th scope="col">OPCION 2</th>
                        <th scope="col">OPCION 3</th>
                        <th scope="col">OPCION 4</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for Pregunta in preguntas %}

                    <tr>
                        <td style="text-align: center;">{{ Pregunta.Trivia }}</td>
                        <td>{{ Pregunta.id }}</td>
                        <td>{{ Pregunta.pregunta }}</td>
                        <td style="text-align: center";>{{ Pregunta.opcionCorrecta }}</td>
                        <td>{{ Pregunta.opcion2 }}</td>
                        <td>{{ Pregunta.opcion3 }}</td>
                        <td>{{ Pregunta.opcion4 }}</td>
                        <td> <a name="" id="" class="btn btn-primary" href="{% url 'editarPregunta' %}" role="button">Editar</a> | 
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a></td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        
        
    </div>
    <div class="card-footer text-muted">
        
    </div>



</div>

{% endblock %}