{% extends "TGApp/base.html" %}

{% block contenido %}

{% if valores == 0 %}
<div class="container">
   <div class="my-4 p-3 bg-background text-body rounded">
      <h2>Espera a que te sea asignada una trivia para poder jugar.</h2>
         
      <div class="mt-2">
         <a class="btn btn-outline-danger" href="{% url 'logout' %}">Salir</a>
      </div>

   </div>
</div>

{% else %}

<div class="container">
   
   <div class="my-4 p-3 bg-background text-body rounded">
      
      <h2>
         Para empezar a jugar selecciona una trivia.
         Se mostraran todas las preguntas relacionadas, cada pregunta tiene una opcion correcta, selecciona la 
         opcion correcta para sumar puntos.   
      </h2>
     
     
     
         {% for valor in valores %}
            {% for Trivia in trivias %}
      
               {% if  Trivia.id == valor %}
               
                  <div class="mt-3">
                     <a name="" id="" class="btn btn-outline-warning" href="{% url 'jugarTriviaUsuario' Trivia.id %}" role="button">Jugar {{Trivia.nombre}}</a>
                  </div>

               {% endif %}
     
            {% endfor %} 
         {% endfor %}   


      <!-- <div class="mt-2">
         <a class="btn btn-outline-primary" href="{% url 'configuraciones' %}">configuraciones</a>
      </div> -->
         
      <div class="mt-2">
         <a class="btn btn-outline-danger" href="{% url 'logout' %}">Salir</a>
      </div>
      
   </div>

</div>



{% endif %}
 

{% endblock%}