{% extends "TGApp/base.html" %}

{% block titulo %} Quick Quiz - Play {% endblock %}

{% block contenido %}

<div id="game" class="justify-center flex-column">
    <h2 id="question">What is the answer to this questions?</h2>
    <div class="choice-container">
      <p class="choice-prefix">A</p>
      <p class="choice-text" data-number="1">Choice 1</p>
    </div>
    <div class="choice-container">
      <p class="choice-prefix">B</p>
      <p class="choice-text" data-number="2">Choice 2</p>
    </div>
    <div class="choice-container">
      <p class="choice-prefix">C</p>
      <p class="choice-text" data-number="3">Choice 3</p>
    </div>
    <div class="choice-container">
      <p class="choice-prefix">D</p>
      <p class="choice-text" data-number="4">Choice 4</p>
    </div>

  </div>

  {% for pregunta in preguntas %}
  <div id="game" class="justify-center flex-column">
    <h2 id="question">{{pregunta.pregunta}}</h2>
    <div class="choice-container">
        {% for option in pregunta_options.options %}
            <p class="choice-prefix">{{forloop.counter}}</p>
            <p class="choice-text" data-number="1">{{ option }}</p>

        {% endfor%}
    </div>
</div>





  {% endfor%}

  {% block script %}
  <script>
    const question = document.getElementById("question");
    const choices = Array.from(document.getElementsByClassName("choice-text"));

    let currentQuestion = {};
    let acceptingAnswers = false;
    let score = 0;
    let questionCounter = 0;
    let availableQuesions = [];

    let questions = [
      {
        question: "Inside which HTML element do we put the JavaScript??",
        choice1: "<script>",
        choice2: "<javascript>",
        choice3: "<js>",
        choice4: "<scripting>",
        answer: 1
      },
      {
        question:
          "What is the correct syntax for referring to an external script called 'xxx.js'?",
        choice1: "<script href='xxx.js'>",
        choice2: "<script name='xxx.js'>",
        choice3: "<script src='xxx.js'>",
        choice4: "<script file='xxx.js'>",
        answer: 3
      },
      {
        question: " How do you write 'Hello World' in an alert box?",
        choice1: "msgBox('Hello World');",
        choice2: "alertBox('Hello World');",
        choice3: "msg('Hello World');",
        choice4: "alert('Hello World');",
        answer: 4
      }
    ];

    //CONSTANTS
    const CORRECT_BONUS = 10;
    const MAX_QUESTIONS = 3;

    startGame = () => {
      questionCounter = 0;
      score = 0;
      availableQuesions = [...questions];
      getNewQuestion();
    };

    getNewQuestion = () => {
      if (availableQuesions.length === 0 || questionCounter >= MAX_QUESTIONS) {
        //go to the end page
        return window.location.assign("/end.html");
      }
      questionCounter++;
      const questionIndex = Math.floor(Math.random() * availableQuesions.length);
      currentQuestion = availableQuesions[questionIndex];
      question.innerText = currentQuestion.question;

      choices.forEach(choice => {
        const number = choice.dataset["number"];
        choice.innerText = currentQuestion["choice" + number];
      });

      availableQuesions.splice(questionIndex, 1);
      acceptingAnswers = true;
    };

    choices.forEach(choice => {
      choice.addEventListener("click", e => {
        if (!acceptingAnswers) return;

        acceptingAnswers = false;
        const selectedChoice = e.target;
        const selectedAnswer = selectedChoice.dataset["number"];

        const classToApply =
          selectedAnswer == currentQuestion.answer ? "correct" : "incorrect";

        selectedChoice.parentElement.classList.add(classToApply);

        setTimeout(() => {
          selectedChoice.parentElement.classList.remove(classToApply);
          getNewQuestion();
        }, 1000);
      });
    });

    startGame();

  </script>
  {% endblock %}
{% endblock %}

