{% extends "TGApp/base.html" %}

{% block titulo %} Mis preguntas {% endblock %}

{% block contenido %}


{% if user.is_staff %}

{% if contar_user == 0 %}
<div class="card mb-2">
    <div class="card-header">
        <h2 class="card-title">Mis preguntas</h2>
        
    </div>
    <div class="card-body">

        <div class="container">

                <h2>
                    Crea una trivia o agrega preguntas a una para que se muestren aqui.   
                </h2>   
        
                <div class="dropdown">
                    
                    <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Seleccionar trivia
                    </button>
                            
                    <div class="dropdown-menu  mt-2" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="{% url 'crearNuevaTrivia' %}"> <strong>Nueva trivia</strong> </a>
                
                        {% for Trivia in trivias %}  
                
                            {% if Trivia.autor == user %} 
                                <a class="dropdown-item" href="{% url 'crearPregunta' Trivia.id %}">{{ Trivia.Tipo }}</a>
                            {% endif %}
                
                        {% endfor %}     
                
                    </div>                      
                </div>

        
        </div>
        
    </div>
    </div>

    

{% else %}


<div class="card mb-2">
    <div class="card-header ">
        <h2 >Mis preguntas <a class="btn btn-info" href="{% url 'acceso_test' %}" role="button">Compartir preguntas</a></h2>
        <h2>Seleccione una trivia para agregar una nueva pregunta.   </h2>
        <div class="dropdown">
                    
            <button class="btn btn-secondary dropdown-toggle mb-2" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Seleccionar trivia
            </button>
                    
            <div class="dropdown-menu  mt-2" aria-labelledby="triggerId">
                <a class="dropdown-item" href="{% url 'crearNuevaTrivia' %}"> <strong>Nueva trivia</strong> </a>
        
                {% for Trivia in trivias %}  
        
                    {% if Trivia.autor == user %} 
                        <a class="dropdown-item" href="{% url 'crearPregunta' Trivia.id %}">{{ Trivia.Tipo }}</a>
                    {% endif %}
        
                {% endfor %}     
        
            </div>                               
        </div>
    </div>
    <div class="card-body">

                
                

                {% for trivia in trivias %}
                    {% if trivia.autor == user%}
                    
                <div class="table-responsive">
                    <table class="table table-bordered">

                        <thead>
                            <th colspan="7" class="text-center"> <a href="{% url 'EditarTrivia' trivia.id %}">{{ trivia }}</a> </th>
                            <tr class="text-center">
                                <th class="align-middle">Enunciado</th>
                                <th class="align-middle" scope="col">Archivo</th>
                                <th class="col-sm-2 row-3 align-middle">Opcion correcta</th>
                                <th class="align-middle">Opcion 1</th>
                                <th class="col-sm-2 row-3 align-middle">Opcion 2</th>
                                <th class="col-sm-2 row-3 align-middle">Opcion 3</th>
                                <th class="col-sm-2 row-3 align-middle">Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for Pregunta in preguntas %}  
                                {% if Pregunta.trivia == trivia %} 
                                
                            <tr class="text-center">
                                
                                <td class="col-sm-2 align-middle">{{ Pregunta.pregunta }}</td>

                                {% if Pregunta.archivo.name|lower|slice:'-3:' == 'png' or Pregunta.archivo.name|lower|slice:'-3:' == 'jpg' or Pregunta.archivo.name|lower|slice:'-3:' == 'gif' or Pregunta.archivo.name|lower|slice:'-4:' == 'jpeg' or Pregunta.archivo.name|lower|slice:'-3:' == 'svg' or Pregunta.archivo.name|lower|slice:'-4:' == 'webp' %}
                                <td class="col-sm-1 align-middle"> Imagen </td>
                                {% elif Pregunta.archivo.name|lower|slice:'-3:' == 'mp3' or Pregunta.archivo.name|lower|slice:'-3:' == 'wav' %}
                                <td class="col-sm-1 align-middle"> Audio </td>
                                {% elif Pregunta.archivo.name|lower|slice:'-3:' == 'mp4' or Pregunta.archivo.name|lower|slice:'-4:' == 'webm' or Pregunta.archivo.name|lower|slice:'-3:' == 'ogg' %}
                                <td class="col-sm-1 align-middle"> Video </td>
                                {% else %}
                                <td class="col-sm-1 align-middle"> -- </td>
                                {% endif %}


                                <td class="col-sm-2 align-middle">{{ Pregunta.opcionCorrecta }}</td>
                                <td class="col-sm-2 align-middle">{{ Pregunta.opcion2 }}</td>
                                <td class="col-sm-2 align-middle">{{ Pregunta.opcion3 }}</td>
                                <td class="col-sm-2 align-middle">{{ Pregunta.opcion4 }}</td>
                                
                                <td> <a class="btn btn-outline-info col-sm" href="{% url 'EditarPregunta' Pregunta.id %}" role="button">Editar</a> <a class="btn btn-outline-danger col-sm" href="{% url 'EliminarPregunta' Pregunta.id %}" role="button">Borrar</a></td>                               

                            </tr>
                            {% endif %}

                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                    {% endif %}

                {% endfor %}
            
        
    </div>
    

</div>


{% endif %}





{% else %}
<h1>No tienes permiso para acceder </h1>
{% endif %}

{% endblock %}


