{% extends "TGApp/base.html" %}

{% block titulo %} Jugar {% endblock %}

{% block contenido %}

<div class="container">
    <div class="mt-2 p-3 bg-background text-body rounded">
        <h2>
            Selecciona la trivia para ver su tablero de posiciones.
            
        </h2>   

        <div class="dropdown">
            
            <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Seleccionar trivia
            </button>
                    
            <div class="dropdown-menu  mt-2" aria-labelledby="triggerId">
        
                {% for Trivia in trivias %}  
        
                    <a class="dropdown-item" href="{% url 'tablero' Trivia.id %}">{{ Trivia.Tipo }}</a>
        
                {% endfor %}     
        
            </div>               
        
        </div>

    </div>

</div>


{% endblock %}