{% extends "TGApp/base.html" %}

{% block titulo %} Jugar {% endblock %}

{% block contenido %}


{% if trivias in request.path %}

        {% if trivias in trivia_lista %}

            {% if contar_user == 0 %}

              <div class="container text-center">
                  <div class="mt-2 p-3 bg-background text-body rounded">
                      <h2>
                          Aun no hay preguntas registradas para esta trivia.				
                      </h2>  
                  </div>
              </div>

            {% else %}
            
            <div class="">
                <!-- mt-4 p-3 bg-background text-body rounded -->
                
                {% for pregunta_options in preguntas_options %}
                    <form method="POST">
            
                        {% csrf_token %}
            

                        <div class="container bg-background rounded my-2 p-2">
                            <h4>
                                <span class="">{{forloop.counter}}.</span> {{ pregunta_options.pregunta.pregunta }}
                                
                            </h4>                 
                            <div class="container">
                                {% if pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'png' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'jpg' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'gif' or pregunta_options.pregunta.archivo.name|lower|slice:'-4:' == 'jpeg' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'svg' or pregunta_options.pregunta.archivo.name|lower|slice:'-4:' == 'webp' %}
            
                                <img src="{{ pregunta_options.pregunta.archivo.url }}" alt="" class="" height="250">
                                 <!-- class="" width="280" height="100" -->
            
                                    <!-- <h6>La aplicación no soporta este archivo</h6>       -->
                        
                                {% elif pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'mp3' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'wav' %}
            
                                    <audio controls>
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="audio/ogg">
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="audio/mpeg">
                                        <h6>La aplicación no soporta este archivo</h6> 
                                    </audio>
            
                                     
            
                                {% elif pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'mp4' or pregunta_options.pregunta.archivo.name|lower|slice:'-4:' == 'webm' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'ogg' %}
            
                                    <video width="280" height="100" controls>
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="video/mp4">
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="video/ogg">
                                        <h6>La aplicación no soporta este archivo</h6> 
                                    </video> 
            
                                {% endif %}
                            </div>
            
                            
                            <div class="container mb-3">
                                {% for option in pregunta_options.options %}

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="{{ pregunta_options.pregunta.pk }}" value="{{ option }}" id="{{ option }}">
                                            <label class="form-check-label" for="{{ option }}">
                                                {{ option }}
                                            </label>
                                    </div>    
                                    
                                {% endfor %}
                                <div class="container">
                                    {{ pregunta_options.pregunta.pista }}
                                </div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo">Pista</button>
                                <div id="demo" class="collapse">
                                    {{ pregunta_options.pregunta.pista }}
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                      <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                                      Pista
                                    </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                      <div class="card-body">
                                        {{ pregunta_options.pregunta.pista }}   
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>                        
                        
                        
            
                {% endfor %}
                    <p>                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>                        
                    </p>        
            
                    </form>    
            
                </div>
            
            {% endif %}

            

            {% else %}

            <div class="container text-center">
                <div class="mt-2 p-3 bg-background text-body rounded">
                    <h2>
                        No tienes acceso a esta trivia.				
                    </h2>  
                </div>
            </div>
            
        {% endif %}

{% endif %}

<h4>
    {{ pregunta_options.pregunta.pregunta }}
    <!-- <br>
    {{ pregunta_options.pregunta.archivo }}
    <br>
    {{ pregunta_options.pregunta.pista }} -->
</h4>
    <!-- <div class="container">
        A. {{ pregunta_options.pregunta.opcionCorrecta }}
    </div> 
    <div class="container">
        B. {{ pregunta_options.pregunta.opcion2 }}
    </div> 
    <div class="container">
        C. {{ pregunta_options.pregunta.opcion3 }}
    </div> 
    <div class="container">
        D. {{ pregunta_options.pregunta.opcion4 }}
    </div>  -->

    
        {% for option in pregunta_options.options %}
        <div class="form-check">
            <input type="radio" class="form-check-input" name="{{ pregunta_options.pregunta.pk }}" value="{{ option }}" id="{{ option }}">
                <label class="form-check-label" for="{{ option }}">
                    {{ forloop.counter }}. {{ option }}
                    {% if pregunta_options.pregunta.opcion2 in option %}
                        <h1>Eureka</h1>
                    {% endif %}
                </label>
        </div>

        
        <!-- <input type="submit" value="{{ option }}"> -->
        {% endfor %}

        {{ pregunta_options.pregunta.opcion2 }}


        {{ pregunta_options }}
        {{ preguntas_options }}

{% endblock %}



