{% extends "TGApp/base.html" %}
{% load static %}

{% block titulo %} Jugar {% endblock %}

{% block contenido %}


<!-- <button onclick="myFunction()">Click me!</button> -->

<!-- <div  id="displaytimer">
    <b>Este es mi timer: 0 segundos</b>
</div> -->

{% if trivias in request.path %}

        {% if trivias in trivia_lista %}

            {% if contar_user == 0 %}

              <div class="container text-center">
                  <div class="mt-2 p-3 bg-background text-body rounded">
                      <h2>
                          Aun no hay preguntas registradas para esta trivia.				
                      </h2>  
                  </div>
              </div>

            {% else %}
            
            <div class="">
                <!-- mt-4 p-3 bg-background text-body rounded -->
  
                {% for pregunta_options in preguntas_options %}
                    <form method="POST">
            
                        {% csrf_token %}
            

                        <div class="container bg-background rounded my-2 p-2">
                            <h4>
                                <span class="">{{forloop.counter}}.</span> {{ pregunta_options.pregunta.pregunta }}
                                
                            </h4>                 
                            <div class="container">
                                {% if pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'png' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'jpg' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'gif' or pregunta_options.pregunta.archivo.name|lower|slice:'-4:' == 'jpeg' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'svg' or pregunta_options.pregunta.archivo.name|lower|slice:'-4:' == 'webp' %}
            
                                <img src="{{ pregunta_options.pregunta.archivo.url }}" alt="" class="" height="250">
                                 <!-- class="" width="280" height="100" -->
            
                                    <!-- <h6>La aplicación no soporta este archivo</h6>       -->
                        
                                {% elif pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'mp3' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'wav' %}
            
                                    <audio controls>
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="audio/ogg">
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="audio/mpeg">
                                        <h6>La aplicación no soporta este archivo</h6> 
                                    </audio>
            
                                     
            
                                {% elif pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'mp4' or pregunta_options.pregunta.archivo.name|lower|slice:'-4:' == 'webm' or pregunta_options.pregunta.archivo.name|lower|slice:'-3:' == 'ogg' %}
            
                                    <video width="280" height="100" controls>
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="video/mp4">
                                        <source src="{{ pregunta_options.pregunta.archivo.url }}" type="video/ogg">
                                        <h6>La aplicación no soporta este archivo</h6> 
                                    </video> 
            
                                {% endif %}
                            </div>
            
                            
                            <div class="container mb-3">
                                {% for option in pregunta_options.options %}

                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="{{ pregunta_options.pregunta.pk }}" value="{{ option }}" id="{{ option }}">
                                            <label class="form-check-label" for="{{ option }}">
                                                {{ option }}
                                            </label>
                                    </div>    
                                    
                                {% endfor %}
                                <!-- <div id="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapse">
                                            Pista
                                        </a>
                                        </div>
                                        <div id="collapse" class="collapse" data-bs-parent="#accordion">
                                        <div class="card-body">
                                            {{ pregunta_options.pregunta.pista }}
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                    -->
                                
                            </div>
                        </div>                        
                        
                        
            
                {% endfor %}

            
            </div>
            
            <!-- <div id="jscript" name="js">
                <p> null </p>
            </div> -->
            




                    <p>                        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success btn-block">Enviar</button>
                        </div>                        
                    </p>        
            
                    </form>    
            
                </div>
            
            {% endif %}

            {% else %}

            <div class="container text-center">
                <div class="mt-2 p-3 bg-background text-body rounded">
                    <h2>
                        No tienes acceso a esta trivia.				
                    </h2>  
                </div>
            </div>
            
        {% endif %}

{% endif %}



{% block script %}
<!-- <script>

    let prueba;

    document.getElementById("jscript").onclick = function(){
    username = document.getElementById("myText").value;
    document.getElementById("myLabel").innerHTML = username
    console.log(username)
}

    let username = window.prompt("What is your name?")
    console.log(username)
    username = document.getElementById("jscript").value;


    // console.log('hello world')
    // const timer = document.getElementById('displaytimer')
    // console.log(timer.textContent)
    // const inputtag = document.getElementById('timer')

    // t=0
    // setInterval(()=>{
    //     t+=1
    //     timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
    //     inputtag.value = t
    // },1000)
</script> -->

{% endblock script %}

<!-- <script src="{% static 'TGApp/script.js' %}"></script>
<script src="{% static 'TGApp/contador.js' %}"></script> -->

{% endblock %}



