{% extends "base.html" %}

{% block titulo %} Jugar {% endblock %}

{% block contenido %}


<h2>
    Para empezar a jugar selecciona la trivia de tu agrado
    El juego consiste en selecconar una opcion correcta de las 4 que se muestran
</h2>



<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
                Seleccionar trivia
    </button>

            
    <div class="dropdown-menu" aria-labelledby="triggerId">
        
                    
        

        

        {% for Pregunta in preguntas %}  
                
                    <a class="dropdown-item" href="{% url 'jugarPrueba' Pregunta.id %}">{{ Pregunta.trivia.nombre }}</a>
                
        {% endfor %}

        

    </div>
            

</div>

{% for Pregunta in preguntas %}
    {% if Pregunta.id == 17 %}

        <textarea name="" id="" cols="30" rows="10">{{ Pregunta.pregunta }}</textarea>

        <a name="" id="" class="btn btn-primary" href="{% url 'correcto' %}" role="button">{{ Pregunta.opcionCorrecta }}</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">{{ Pregunta.opcion2 }}</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">{{ Pregunta.opcion3 }}</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">{{ Pregunta.opcion4 }}</a>
    {% endif %}
<br>
    {% if Pregunta.id == 2 %}

        <textarea name="" id="" cols="30" rows="10">{{ Pregunta.pregunta }}</textarea>

        <a name="" id="" class="btn btn-primary" href="{% url 'correcto' %}" role="button">{{ Pregunta.opcionCorrecta }}</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">{{ Pregunta.opcion2 }}</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">{{ Pregunta.opcion3 }}</a>
        <a name="" id="" class="btn btn-primary" href="#" role="button">{{ Pregunta.opcion4 }}</a>
    {% endif %}
{% endfor %}





{% endblock %}