

{% extends "base.html" %}


{% block titulo %} Jugar2 {% endblock %}

{% block contenido %}
    

{{ pregunta.trivia.id }}
There are {{ count }} objects with a foreign key.

    {% for pregunta in preguntas %}
    
           

        {% if pregunta.trivia == trivias %}           


        <form method="POST">

            {% csrf_token %}
                           
                <h3>
                    <br>
                    {{ forloop.counter }}.
                    {{ pregunta.pregunta }}  
                    {{ random_values }}  
                </h3>                
                
                <div class="form-check">  
                     
                    <input type="radio" name="opcion" value="{{ pregunta.opcionCorrecta }}" id="gridRadios1">
                    <label class="form-check-label" for="gridRadios1">
                        {{ pregunta.opcionCorrecta }}    
                    </label> 
                                    
                </div>            
    
                <div class="form-check">
                    <input type="radio" name="opcion" value="{{ pregunta.opcion2 }}" id="gridRadios2">
                    <label class="form-check-label" for="gridRadios2">
                        {{ pregunta.opcion2 }} 
                    </label>   
                </div>
    
                <div class="form-check">
                    <input type="radio" name="opcion" value="{{ pregunta.opcion3 }}" id="gridRadios3">
                    <label class="form-check-label" for="gridRadios3">
                        {{ pregunta.opcion3 }} 
                    </label>   
                </div>
    
                <div class="form-check">
                    <input type="radio" name="opcion" value="{{ pregunta.opcion4 }}" id="gridRadios4">
                    <label class="form-check-label" for="gridRadios4">
                        {{ pregunta.opcion4 }}    
                    </label>
                </div>                   
    

        {% endif %}

    {% endfor %}

    <p>
        <br>
        <button type="submit" class="btn btn-success">Enviar</button>
    </p>        

    </form>
 


{% endblock %}


