{% extends "TGApp/base.html" %}

{% block contenido %}

{% if contar_user == 0 %}
	<div class="container">
		<div class="mt-2 p-3 bg-background text-body rounded">
			<h2 class="text-center">
				No hay puntuaciones registradas.				
			</h2>  
		</div>
	</div>

{% else %}

	<div class="container">
		
		<h2 class="mb-3 p-2 text-center bg-info text-white rounded">
			Tabla de puntuaciones: {{ trivia }}
		</h2>	

		<table class="table table-striped table-bodered">
			<thead>
				<tr class="text-center">
					<th>Posicion</th>
					<th>Usuario</th>
					<th>Puntaje</th>
				</tr>
			</thead>
			<tbody>
				{% for user_quiz in usuario_quiz %}
				
					<tr class="text-center">
						<th>{{forloop.counter}}</th>
						<th>{{user_quiz.usuario.username}}</th>
						<th>{{user_quiz.puntajeTotal}}</th>
					</tr>
				
				{% endfor %}
			</tbody>
		</table>

	</div>

{% endif %}

{% endblock %}